<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3512126355-m7g99p499fc29lm40j5a7ap3hmpmqrqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3512126355-m7g99p499fc29lm40j5a7ap3hmpmqrqs</string>
	<key>API_KEY</key>
	<string>AIzaSyAe6q2CG-Ptkp_Ty2d0kgz93MUxw9TtLMs</string>
	<key>GCM_SENDER_ID</key>
	<string>3512126355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lazba.app</string>
	<key>PROJECT_ID</key>
	<string>lazba-73cea</string>
	<key>STORAGE_BUCKET</key>
	<string>lazba-73cea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3512126355:ios:f35ebc188a4c37926bb666</string>
</dict>
</plist>